*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
#container{
    width: 300px;
    height: 200px;
    background-color: yellow;
    position: relative;
}
.box{
    background-color: blue;
    position: absolute;
}
.first, .second{
    height: 85px;
    width: 85px;
}
.second{
    left: 0px;
    bottom: 0px;
}
.third , .fourth{
    height: 85px;
    width: 170px;
}
.third{
    top: 0px;
    right: 0px;
}
.fourth{
    bottom: 0px;
    right: 0px;

}