*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;

}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    height: 400px;
    width: 400px;
    background-color: chartreuse;
}
.box{

    color: white;
}
.first{
    background-color: red;
}
.second{
    background-color: yellow;
}
.third{
    background-color: purple;
}
.fourth{
    background-color: aqua;
}