*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;    
}
.container{
    display: flex;
    background-color: aqua;
    height: 300px;
    width: 300px;
    gap: 5px;
    padding: 10px;
}
.box{
    padding: 10px;
    height: 200px;
    width: 100px;
    text-align: center;
}
.first{
    background-color: yellow;
}
.second{
    display: flex;
    flex-direction: column;
    gap: 5px;   
}
.child{
    background-color: red;
    flex-grow: 1;
}
