* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  height: 640px;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 600px;
}
.box {
  width: 80px;
  height: 60px;
}
.box1 {
  background-color: rgb(86, 49, 49);
}
.box2 {
  background-color: brown;
}
