*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#login-card{
    border: solid black;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 30px;
}
h1{
    text-align: center;
    /* background-color: brown; */
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    color: rgb(59, 59, 138);
}
label{
    font-weight: 600;
    /* background-color: blue; */
    padding: 2px;
}
input{
    margin-bottom: 10px;
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: 7px;
}
button{
    margin-top: 15px;
    border-radius: 7px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: rgb(128, 128, 212);
    
}