*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap; /*responsiveness */
}
#circle{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
}