*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    

}
/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */
h2{
    margin-bottom: 10px;
}
#username{
    position: absolute;
    left: 110px;
    bottom: 105px;

}

#password{
    position: absolute;
    left: 110px;
    bottom: 55px;

}

p{
    margin: 20px;
    
}
legend{
    margin: 30px;
}
section{
    margin-left: 150px;
    margin-right: 150px;
}
label{
    margin-left: 30px;
}