*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
#container{
    width: 300px;
    height: 200px;
    background-color: white;
    position: relative;
}
#circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 50px;
}